.card-img-top {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.card-group {
  justify-content: start;
  margin-bottom: 20px;
  margin-top: 10px;
}

.col {
  flex: 0 0 auto;
  width: auto;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

body {
  background-color: #121212;
  color: #fff;
}

.card {
  background-color: #333;
  color: #fff;
  height: 400px;
  width: 200px;
}

.card-title {
  color: #fff;
}

.card-text {
  color: rgba(255, 255, 255, 0.7);
}

.btn-primary {
  background-color: #1c7cb8;
  border-color: #1c7cb8;
  margin-bottom: 10px;
}

.user-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.user-list li {
  margin: 0 10px;
}

.user-list img {
  margin-right: 5px;
}
